
<!-- component -->
<div  id="signIn" class="bg-[url('/images/back-2.png')] min-h-screen bg-slate-200 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12">
        <span class="border text-4xl fadeIn text-primary px-6 pt-10 pb-8 bg-white w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">Activé votre compte</span>
  <div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     	<%= render "devise/shared/error_messages", resource: resource %>
			
          <%= f.text_field :first_name, class:"pl-2 outline-none border-none", placeholder:"Nom ..." %>
		  <%= f.text_field :last_name, class:"pl-2 outline-none border-none", placeholder:"Prénom..." %>
          <%= f.text_field :country, class:"pl-2 outline-none border-none", placeholder:"pays..." %>
      
            <%= f.text_field :contact, placeholder:"N° Tel ...", class:"pl-2 outline-none border-none" %>	
          
            <%= f.email_field :email, placeholder:"Addresse Email ...", class:"pl-2 outline-none border-none" %>			
      	
        <%= f.password_field :password, class:"pl-2 outline-none border-none", placeholder:"Mot de passe ..." %>				
      
      <%= f.submit "Activé votre compte", class:"block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2" %>
					
		<% end %>
  </div>
</div>



