<div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3 fadeIn ">NOS DOMAINES D'ACTIONS</h1>
        
        <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero
         ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        <div class="testimonial-item bg-light rounded ">
            <div class=" wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class=" overflow-hidden">
                        <a href="#">
                        <%= image_tag "images/testimonial-3.jpg", class:"img-fluid", alt:"Icon", style:"width: 600px; height: 400px;"%>
                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Eaux</div>
                            <div  class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Participer aux prochaines Action+</div>
                        </a>
                    </div>                                        
                </div>
            </div> 
        </div>
        <div class="testimonial-item bg-light rounded p-3">
            <div class=" wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class=" overflow-hidden">
                        <a href="#">
                        <%= image_tag "images/testimonial-1.jpg", class:"img-fluid", alt:"Icon", style:"width: 600px; height: 400px;"%>
                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Eaux</div>
                            <div  class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Participer aux prochaines Action+</div>
                        </a>
                    </div>                                        
                </div>
            </div> 
        </div>
        <div class="testimonial-item bg-light rounded p-3">
            <div class=" wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class=" overflow-hidden">
                        <a href="#">
                        <%= image_tag "images/testimonial-3.jpg", class:"img-fluid", alt:"Icon", style:"width: 600px; height: 400px;"%>
                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Eaux</div>
                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-10 mx-4 text-xl pt-1 px-3">Participer aux prochaines Action+</div>
                        </a>
                    </div>                                        
                </div>
            </div> 
        </div>
        <div class="testimonial-item bg-light rounded p-3">
            <div class=" wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class=" overflow-hidden">
                        <a href="#">
                        <%= image_tag "images/testimonial-2.jpg", class:"img-fluid", alt:"Icon", style:"width: 600px; height: 400px;"%>
                        <div class="bg-primary rounded text-white font-bold position-absolute start-0 -top-0 m-4 py-1 px-3">KARAKARA</div>
                            <div  class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Participer aux prochaines Action+</div>
                        </a>
                    </div>                                        
                </div>
            </div> 
        </div>
        <div class="testimonial-item bg-light rounded p-3">
            <div class=" wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class=" overflow-hidden">
                        <a href="#">
                        <%= image_tag "images/testimonial-1.jpg", class:"img-fluid", alt:"Icon", style:"width: 600px; height: 400px;"%>
                        <div class="bg-primary rounded text-white position-absolute start-auto top-auto m-4 py-1 px-3">Habitats</div>
                           <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Participer aux prochaines Action+</div>
                        </a>
                    </div>                                        
                </div>
            </div> 
        </div>
    </div>
</div>

