<div class="bg-blue-600  flex ">
<p class="uppercase font-semibold mx-auto ">
    <span class="">
        <svg class="icon h-5 w-5 bg-gray-400">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
        </svg>
    </span>
    <span class=""><%= link_to 'nos actualites à la une', '#a-la-une' , class:"no-underline hover:text-white" %></span>
    <span class="mx-4"><%= link_to 'Evenements', '#Evenements' , class:"no-underline hover:text-white" %></span>
    <span class=""><%= link_to 'EN IMMERSION',"#En-immersion" , class:"no-underline hover:text-white" %></span>
    <span class="mx-4"><%= link_to 'TÉMOIGNAGES', "#Temoignages" , class:"no-underline hover:text-white" %></span>
    <span class=""><%= link_to 'COMMUNIQUÉS DE PRESSE', "#presses" , class:"no-underline hover:text-white" %></span>    
    <span class="button_circle">
        <svg class="icon h-5 w-5 bg-blue-600">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
        </svg>
    </span>
</p>
</div>
