<% @title="Accueil" %>
<!-- component -->

<div class="mb-6">
    <%= render "welcome/shared/homeNavbar" %>
    <%= render "welcome/shared/header" %>
    <%= render "welcome/shared/donate-1" %>
    <%= render "welcome/shared/terrain" %>
    <%= render "welcome/shared/about" %>
    <%= render "welcome/shared/articles" %>
    <%= render "welcome/shared/member" %>
    <%= render "welcome/shared/testimonial" %>
    <%= render "welcome/shared/footer" %>
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

</div> 




