<!-- component -->
<div  id="signIn" class="bg-[url('/images/back-2.png')] animate-pulse min-h-screen bg-slate-200 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12">
        <span class="border text-4xl fadeIn text-primary px-6 pt-10 pb-8 bg-white w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">Se connecter</span>
  <div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"bg-white") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            
            <label for="Email" class="block">Email... </label>
            <%= f.email_field :email, id:"Email", class:"border w-full h-10 px-3 mb-5 rounded-md", placeholder:"Adresse email ..." %>
            
            <label for="password" class="block">Mot de passe...</label>
            <%= f.password_field :password, id:"password", class:"border w-full h-10 px-3 mb-5 rounded-md",  autocomplete: "current-password", placeholder:"Mot de passe ...." %>

            <div class="flex items-start">
						  <div class="flex items-start">
                <% if devise_mapping.rememberable? %>
                  <div class="flex items-center">
                    <%= f.check_box :remember_me, id:"remember_me", "aria-describedby":"remember", class:"bg-gray-50 border border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" %>
                  </div>
                  <div class="text-sm ml-3">
                    <%= f.label :"restez connecter", class:"font-medium text-gray-900 ml-2", for:'remember_me' %>
                  </div>
                <% end %>
							</div>
              <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class:"text-sm text-blue-700 hover:underline ml-auto dark:text-blue-500" %>
							
						</div>
								
          <%= f.submit "Se Connecter", class:"mt-5 bg-green-500 hover:bg-blue-700 shadow-xl text-white uppercase text-sm font-semibold px-14 py-3 rounded" %>
          
        <% end %>
  </div>
</div>

