<div class="w-full">
    <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <%= render "welcome/shared/navbar" %>
        </div>
        <!-- Navbar End -->

        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <%= render "welcome/shared/header" %>
        </div>
        <!-- Header End -->
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Notre Mission</h1>
    <%= link_to 'New about', new_about_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="abouts" class="min-w-full">
    <div class="container">
      <div class="mx-40 bg-white border-1 rounded-md ">
          <%= render @abouts %>
          <div class="m-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quasi ea culpa, in unde nostrum ipsum nulla placeat. Deleniti exercitationem repellat vel fuga laboriosam nam nemo esse eaque nihil libero.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, beatae. Omnis modi dignissimos debitis dolorum ab cupiditate unde maiores assumenda iste, ipsum quam eos, distinctio dicta reiciendis dolorem, expedita saepe!
          </div>
      </div>
    </div>
  <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <%= render "welcome/shared/footer" %>
        </div>

  </div>
</div>
